{% extends '_layout.html' %}

{% block body %}

<div class="shadow m-5 p-5">
    <h3>Title Goes Here</h3>
    <ul class="list-unstyled">
        <li class="border-1 p-2">Question 1</li>
        <li class="border-1 p-2">Question 2</li>
        <li class="border-1 p-2">Question 3</li>
    </ul>
</div>

<div class="shadow m-5 p-5">
    <h3>Title Goes Here</h3>
    <ul class="list-unstyled">
        <li class="border-1 p-2">Question 1</li>
        <li class="border-1 p-2">Question 2</li>
        <li class="border-1 p-2">Question 3</li>
    </ul>
</div>

{% endblock %}