{% extends '_layout.html' %}

{% block body %}

<div class="container mt-5 shadow navbar-light" id="profile-container">
    <div class="row justify-content-start align-items-center">
        <div class="col-auto profile-pic-container">
          <div class="profile-pic bg-secondary">
            <!-- placeholder for picture, will implement later -->
          </div>
        </div>
        <div class="col username-big">
          {% if session['user'] %}
          Hello, {{session['user']['userinfo']['name']}}!
          {% else %}
          Hello, user!
          {% endif %}
          <div class="username-small">
            u/username123
          </div>
        </div>
      </div>
    <div class="row profile-nav">
        <div class="navbar">
            <nav class="navbar">
                <a id="prof-nav" class="navbar-brand">Posts</a>
                <a id="prof-nav" class="navbar-brand">Liked</a>
                <a id="prof-nav" class="navbar-brand">Disliked</a>
                <a id="prof-nav" class="navbar-brand">Saved</a>
            </nav>
        </div>
    </div>
    <div class="create-post">
        <button class="btn btn-outline-secondary">+Create Post</button>
    </div>
</div>
<div class="container" id="profile-container">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto profile-pic-container">
      <div id="post-prof" class="bg-secondary">
        <!-- placeholder for picture, will implement later-->
      </div>
    </div>
    <div id="no-post-msg" class="row justify-content-center">
      Username123 hasn't posted yet...
    </div>
  </div>
</div>
{% endblock %}