{% extends '_layout.html' %}

{% block body %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const createPostBtn = document.getElementById("create-post");
        const postBox = document.getElementById("post-box");

        let boxVisible = false;

        createPostBtn.addEventListener("click", function () {
            if (!boxVisible) {
                postBox.style.display = "block";
                boxVisible = true;
            } else {
                postBox.style.display = "none";
                boxVisible = false;
            }
        });

        document.querySelectorAll('.delete-form').forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const postId = form.getAttribute('action');
                fetch(postId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        console.error('Failed to delete post');
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    });
</script>

    <br>
    <nav id="board" class="shadow navbar navbar-light mx-5">
        <div class="container" id="roomheader">
            <div>
                <h1>{{ room['course_name'] }}</h1>
                
                <div id="description"><p>{{ room['description'] }}</p></div>
            </div>
            <form>
                <button type="button" id="create-post" class="btn">Create Post</button>
                <a class="btn" href='/course-ta/{{room['course_id']}}'> Contact TA </a>
                
            </form>
        </div>
    </nav>
    <div id="post-box" class="container post-box border border-3 p-2 mt-3" style="display: none;">
        <form action="/create-post" method="post">
            <div id="description" class="mb-3 mt-3">
                <label for="post_title" class="form-label">Post Title</label>
                <input type="text" class="form-control" id="post_title" name="post_title" required>
            </div>
            <div id="description" class="mb-3">
                <label for="post_content" class="form-label">Post Content</label>
                <textarea class="form-control" id="post_content" name="post_content" rows="4" required></textarea>
            </div>
            <input type="hidden" name="user_id" value="{{session['user']['user_id']}}">
            <input type="hidden" name="course_id" value="{{room['course_id']}}">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <br>
    {% for course_id, posts in room_posts.items() %}
        {% if course_id == room['course_id'] %}
            {% for post in posts %}           
    <br>
    <div class="post-box container">
        <nav id="message" class="shadow navbar navbar-light mx-5">
            <div class="container mb-2" id="message">
                <a class="navbar-brand"> 
                    <p id="description">
                        <strong>{{ get_user_by_id(post.user_id)['username'] }}</strong>
                        <br>
                        <strong>{{ post.title }}</strong>
                        <br>
                    </p>
                </a>
            
            </div>
            <div class="container">
                    <p>{{ post.content }}</p>
            </div>
            <div class="container-right">
                <form class="delete-form" action="/delete-post/{{ post.title }}" method="post">
                    <button type="submit" class="btn btn-danger delete-post-btn">Delete</button>
                </form>
            </div>
        </nav>
    </div>
                
            {% endfor %}
        {% endif %}
    {% endfor %}
    <br>
{% include '_footer.html' %}
{% endblock %}