{% extends '_layout.html' %}

{% block body %}
<style>
    .box {
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: #7b9d7f;
        border-radius: 8px;
    }

    .search-container {
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input {
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        outline: none;
    }

    .room-card {
        margin-bottom: 10px;
    }

    .room-link {
        color: #fff;
        text-decoration: none;
    }

    h1 {
        font-size: 24px;
        margin-top: 20px;
        color: #294426;
    }

    .search-results p {
        font-size: 18px;
        color: #294426;
    }
</style>

<div class="box">
    <div class="search-container">
        <form action="/search" method="POST">
            <input class="search-input" type="text" name="search_query" placeholder="Search...">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>

    <div class="search-results">
        {% if message %}
            <p>{{ message }}</p>
        {% else %}
            {% for room_id, room_name in search_results.items() %}
                <div class="room-card">
                    <a href="/room/{{ room_id }}" class="room-link">{{ room_name }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
