{% extends '_layout.html' %}

{% block body %}
<style>
        .search-container {
            display: flex;
            align-items: center;
            margin-top: 40px;
        }
        .search-input {
            flex-grow: 1;
            margin-right: 10px;
        }

        .center {
            margin-top: 30px;
            text-align: center;
            background-color: lightgrey;
            padding: 10px;
        }
</style>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand">Lecture Lounge</a>
        </div>
        <form class="form-inline">
            <div class="container">
                <button class="btn btn-outline-secondary" type="submit">Login</button>
            </div>
        </form>
    </nav>

    <div class="container search-container">
        <input class="form-control search-input" type="text" placeholder="Search...">
        <button class="btn btn-primary" type="button">Search</button>
    </div>
    <div class="center">
        <h1> This is where the search results will be created and displayed</h1>
    </div>
    
</body>
{% endblock %}