{% extends '_layout.html' %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="search-title">Search Rooms</h1>
            <form action="/search" method="POST">
                <input class="search-input" type="text" name="search_query" placeholder="Enter room name">
                <button class="search-button" type="submit">Search</button>
            </form>


        
            <h2>Search Results:</h2>
            <ul>
                {% for room_id, room_name in search_results.items() %}
                    <li><a href="/room/{{ room_id }}">{{ room_name }}</a></li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}
